/*
color-hunt pallets:
#F9F7F7
#DBE2EF
#3F72AF
#112D4E
*/
body {
    background-color: #F9F7F7; 
    color: #F9F7F7;
    margin: 0;
}
.main {
    background-color: #F9F7F7; 
    font-family: 'Lato', sans-serif;
    color:#112D4E;
    padding: 1%;
}

.section {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 25px;
    background-color: #DBE2EF; 
    padding: 5%;
    margin: 1% 10% 2%;
}

.section-clicked {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 25px;
    background-color: #DBE2EF; 
    padding: 1% 5% 3%;
    margin: 1% 10% 2%;
}

.section-detail-clicked {
    display: flex;
}

.section-detail-string {
    padding: 1%;
    margin: auto 0;
    /* margin: 1% 10% 2%; */
}

.section-detail-list {
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 25px;
    background-color: #F9F7F7; 
    padding: 1%;
    margin: 1% 10% 2%;
}
.section-detail-list-clicked {
    display:block;
}

.section-header {
    cursor: pointer;
}

.navbar-own {
    display:flex;
    background-color: #112D4E;
    align-items: center;
}

.right-navbar {
    display:flex;
    right: 3%;
    margin: 0 2%;
}

.lang-button {
    padding: 0 10%;
    cursor: pointer;
}

.center-navbar {
    margin: auto;
}

.header-right {
    display:block;
}

.header-detail {
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 25px;
    background-color: #F9F7F7; 
    font-family: 'Lato', sans-serif;
    color:#112D4E;
    padding: 1% 10%;
    /* margin: 0 40% 2%; */
}

.header-big  {
    background-color: #112D4E;
    display:flex;
    margin: auto;
    padding: 1%;
}

.personal-img {
    display: block;
    border-radius: 50%;
    margin: auto;
}

.logo-img {
    border-radius: 10%;
    width: 15rem;
    /* height: 248px; */
}

#footer {
    background-color: #112D4E;
    color: #F9F7F7;
    font-weight:300;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

#title {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

/* Mobile and Tablet */
@media (max-width: 480px) {
    .section {
        margin-left: 0;
        margin-right: 0;
    }
    .section-clicked {
        margin-left: 0;
        margin-right: 0;
    }
    .section-detail-list {
        margin-left: 0;
        margin-right: 0;
    }
    .section-detail-string {
        margin-left: 0;
        margin-right: 0;
    }
  }
