
/* :root {
    --space: 1.5em 0;
    --space: 2em 0;
} */

.App {
    font-family: 'Montserrat', sans-serif;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #3C6255; 
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.navbar-own {
    background-color: #EAE7B1;
}

.header {
    display: block;
    /* padding: 3rem; */
    text-align: left;
}

.personal-img {
    display: block;
    border-radius: 50%;
    margin: auto;
}

.personal-info {
    margin:auto;
}

.header table {
    justify-content: center;
    margin: auto auto auto 3rem
}

.header .td-element {
    vertical-align: initial;
    padding-right: 3rem;
}

.content ul {
    list-style: '';
}

.content-odd {
    background-color: #3C6255; 
    color: white;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.content-even {
    background-color: #61876E; 
    color: white;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

/* .content-alternative {
    background-color: #A6BB8D; 
} */

footer {
    background-color: #EAE7B1;
    font-weight:300;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

/* Mobile and Tablet */
@media (max-width: 480px) {
    .content-odd {
        padding-left: 0;
        padding-right: 0;
    }
    .content-even {
      padding-left: 0;
      padding-right: 0;
    }
  
  }